<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/projects">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:sohailturner@gmail.com">sohailturner@gmail.com</a></li>
	        		<li><a href="https://github.com/soapy98"><img src="/media/GitHub-Mark.png" alt="GitHub Icon" style="width:50px;height:50px;"></a></li>
				<li><a href="https://https://www.linkedin.com/in/sohail-turner/"><img src="/media/linkin.png" alt="Sohail LinkedIn" style="width:50px;height:50px;"></a></li>
				</ul>
			</footer>
		</body>
	</html>
